[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
unipath = "*"
python-dotenv = "*"
gunicorn = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
